asgiref==3.5.0
beautysh==6.1.0
distlib==0.3.4
Django==3.2.12
django-extensions==3.1.5
django-widget-tweaks==1.4.12
filelock==3.6.0
fontawesomefree==6.1.1
pbr==5.8.1
platformdirs==2.5.1
protobuf==3.19.4
pyserial==3.5
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
stevedore==3.5.0
virtualenv==20.13.4
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
